	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/">{% if _SITE_CONFIG_.site_name %}{{ _SITE_CONFIG_.site_name }}{% else %}Flutos{% endif %}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/tags">Tags</a>
				</li>
				{% if _SESSION_.username %}
				<li class="nav-item">
					<a class="nav-link" href="/create">Create Album</a>
				</li>				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/change-password">Change Password</a>
					</div>
				</li>
			{% if _SESSION_.user_type == 'admin' %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/add-user">Add User</a>
						<a class="dropdown-item" href="/delete-user">Delete User</a>
						<a class="dropdown-item" href="/settings">Settings</a>
					</div>
				</li>
			{% endif %}
			{% endif %}
			</ul>
			<div class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" id="tagSearch" placeholder="Search" aria-label="Search" onkeypress="search(event)">
				<button class="btn btn-outline-success	mr-sm-2 my-2 my-sm-0" onclick="search(event)">Search</button>
			</div>
			<div class="mt-2 mt-md-0">
			{% if _SESSION_.username %}
				<a href="/logour" class="btn btn-outline-danger">Logout</a>
			{% else %}
				<a href="/login" class="btn btn-outline-primary"Login</a>
			{% endif %}
			</div>
		</div>
	</nav>